@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "CircularStd-Book";
}

.section-padding {
  padding-top: 80px !important;
  padding-bottom: 80px;
}
